{{template "_header_template.html" .}}

    <!-- other code here -->
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    <table border="1">
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
      {{range $index, $activity := .Activities}}
      <tr>
        <td>{{$index | addOne}}</td>
        <td>{{$activity.Title}}</td>
        <td>{{$activity.Description}}</td>
        <td>{{$activity.Category}}</td>
      </tr>
      {{end}}
    </table>
    {{template "_footer_template.html" .}}
